openapi: 3.1.0
info:
  title: Penny Vault API
  version: 3.0.0
  description: REST API for the Penny Vault portfolio and strategy application.
  contact:
    name: Penny Vault
  license:
    name: Proprietary

servers:
  - url: https://api.pennyvault.com/v3
    description: Production
  - url: http://localhost:3000/v3
    description: Local dev

security:
  - BearerAuth: []

tags:
  - name: Portfolios
    description: Portfolios belonging to the authenticated user
  - name: Strategies
    description: Strategy registry and unofficial strategy registration

paths:
  /portfolios:
    get:
      tags: [Portfolios]
      operationId: listPortfolios
      summary: List the authenticated user's portfolios
      description: Returns a light list view — one row per portfolio, suitable for a dashboard/landing.
      responses:
        '200':
          description: Array of portfolios
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Portfolio'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      tags: [Portfolios]
      operationId: createPortfolio
      summary: Create a new portfolio
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortfolioCreateRequest'
      responses:
        '201':
          description: Portfolio created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Portfolio'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/ServerError'

  /portfolios/{slug}:
    get:
      tags: [Portfolios]
      operationId: getPortfolio
      summary: Get a single portfolio with full summary data
      description: |
        Returns everything the Portfolio Summary screen needs **except** the
        time-series measurements (those are at `/portfolios/{slug}/performance`
        because they can be large and are cached separately).
      parameters:
        - $ref: '#/components/parameters/PortfolioSlug'
      responses:
        '200':
          description: Portfolio detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Portfolio'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    patch:
      tags: [Portfolios]
      operationId: updatePortfolio
      summary: Update portfolio name, schedule, or parameters
      parameters:
        - $ref: '#/components/parameters/PortfolioSlug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortfolioUpdateRequest'
      responses:
        '200':
          description: Portfolio updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Portfolio'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/ServerError'
    delete:
      tags: [Portfolios]
      operationId: deletePortfolio
      summary: Delete a portfolio and its snapshot
      parameters:
        - $ref: '#/components/parameters/PortfolioSlug'
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /portfolios/{slug}/performance:
    get:
      tags: [Portfolios]
      operationId: getPortfolioPerformance
      summary: Equity-curve time series
      description: |
        Daily measurements. Optionally filter by date range; when omitted,
        returns the full series from inception to today.
      parameters:
        - $ref: '#/components/parameters/PortfolioSlug'
        - name: from
          in: query
          description: ISO date (YYYY-MM-DD). Inclusive.
          required: false
          schema:
            type: string
            format: date
        - name: to
          in: query
          description: ISO date (YYYY-MM-DD). Inclusive.
          required: false
          schema:
            type: string
            format: date
        - name: resolution
          in: query
          description: Downsample target. `daily` (default) or `weekly`/`monthly` for coarser series.
          required: false
          schema:
            type: string
            enum: [daily, weekly, monthly]
            default: daily
      responses:
        '200':
          description: Equity-curve time series
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioPerformance'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /portfolios/{slug}/transactions:
    get:
      tags: [Portfolios]
      operationId: getPortfolioTransactions
      summary: Backtest transactions (buys, sells, dividends, etc.)
      parameters:
        - $ref: '#/components/parameters/PortfolioSlug'
        - name: from
          in: query
          required: false
          description: Inclusive start date (YYYY-MM-DD).
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: false
          description: Inclusive end date (YYYY-MM-DD).
          schema:
            type: string
            format: date
        - name: type
          in: query
          required: false
          description: Comma-separated list of transaction types to include.
          schema:
            type: string
      responses:
        '200':
          description: Transaction list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /portfolios/{slug}/runs:
    get:
      tags: [Portfolios]
      operationId: listPortfolioRuns
      summary: Run history for a portfolio
      parameters:
        - $ref: '#/components/parameters/PortfolioSlug'
      responses:
        '200':
          description: Array of runs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BacktestRun'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /portfolios/{slug}/run:
    post:
      tags: [Portfolios]
      operationId: triggerPortfolioRun
      summary: Trigger a one-shot backtest for the portfolio
      parameters:
        - $ref: '#/components/parameters/PortfolioSlug'
      responses:
        '202':
          description: Run accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BacktestRun'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /portfolios/{slug}/runs/{runId}:
    get:
      tags: [Portfolios]
      operationId: getPortfolioRun
      summary: Detail for a single run
      parameters:
        - $ref: '#/components/parameters/PortfolioSlug'
        - name: runId
          in: path
          required: true
          description: Run UUID.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Run detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BacktestRun'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /portfolios/{slug}/summary:
    get:
      tags: [Portfolios]
      operationId: getPortfolioSummary
      summary: Top-line KPIs from the latest successful backtest
      parameters:
        - $ref: '#/components/parameters/PortfolioSlug'
      responses:
        '200':
          description: Summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /portfolios/{slug}/drawdowns:
    get:
      tags: [Portfolios]
      operationId: getPortfolioDrawdowns
      summary: Drawdown list ordered by depth (deepest first)
      parameters:
        - $ref: '#/components/parameters/PortfolioSlug'
      responses:
        '200':
          description: Drawdowns
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Drawdown'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /portfolios/{slug}/statistics:
    get:
      tags: [Portfolios]
      operationId: getPortfolioStatistics
      summary: Risk and style statistics
      parameters:
        - $ref: '#/components/parameters/PortfolioSlug'
      responses:
        '200':
          description: Risk/style statistics
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PortfolioStatistic'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /portfolios/{slug}/trailing-returns:
    get:
      tags: [Portfolios]
      operationId: getPortfolioTrailingReturns
      summary: Trailing-returns rows (portfolio, benchmark, portfolio-tax, benchmark-tax)
      parameters:
        - $ref: '#/components/parameters/PortfolioSlug'
      responses:
        '200':
          description: Trailing returns
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrailingReturnRow'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /portfolios/{slug}/holdings:
    get:
      tags: [Portfolios]
      operationId: getPortfolioHoldings
      summary: Latest holdings
      parameters:
        - $ref: '#/components/parameters/PortfolioSlug'
      responses:
        '200':
          description: Holdings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HoldingsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /portfolios/{slug}/holdings/{date}:
    get:
      tags: [Portfolios]
      operationId: getPortfolioHoldingsAsOf
      summary: Historical holdings as of a given date
      parameters:
        - $ref: '#/components/parameters/PortfolioSlug'
        - name: date
          in: path
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Holdings as of the given date
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HoldingsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /portfolios/{slug}/holdings/history:
    get:
      tags: [Portfolios]
      operationId: getPortfolioHoldingsHistory
      summary: Per-batch holdings history across the backtest
      parameters:
        - $ref: '#/components/parameters/PortfolioSlug'
        - name: from
          in: query
          required: false
          description: Inclusive lower bound on batch timestamp (YYYY-MM-DD).
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: false
          description: Inclusive upper bound on batch timestamp (YYYY-MM-DD).
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Per-batch holdings history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HoldingsHistoryResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /strategies:
    get:
      tags: [Strategies]
      operationId: listStrategies
      summary: List strategies in the registry
      responses:
        '200':
          description: Array of strategies
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Strategy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'

  /strategies/describe:
    get:
      tags: [Strategies]
      operationId: describeStrategy
      summary: Clone, build, and describe a strategy repository
      parameters:
        - name: cloneUrl
          in: query
          required: true
          description: HTTPS GitHub clone URL.
          schema:
            type: string
            format: uri
      responses:
        '200':
          description: Describe output
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StrategyDescribe'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/ServerError'

  /strategies/{shortCode}:
    get:
      tags: [Strategies]
      operationId: getStrategy
      summary: Strategy detail
      parameters:
        - name: shortCode
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Strategy detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Strategy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Auth0-issued JWT in the `Authorization: Bearer <token>` header."

  parameters:
    PortfolioSlug:
      name: slug
      in: path
      required: true
      description: Portfolio slug, e.g. `adm-aggressive-gm59`.
      schema:
        type: string
        pattern: "^[a-z0-9]+(-[a-z0-9]+)*$"

  responses:
    BadRequest:
      description: The request was rejected before handler logic ran.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    Unauthorized:
      description: Missing or invalid bearer token.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    NotFound:
      description: The requested resource does not exist or is not visible to the caller.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    ServerError:
      description: Unexpected server error.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    Conflict:
      description: The target resource already exists or conflicts with an existing row.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    UnprocessableEntity:
      description: The request body was well-formed but failed validation.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'

  schemas:
    # ============ Error ============
    Problem:
      type: object
      description: RFC 7807 Problem Details.
      required: [title, status]
      properties:
        type:
          type: string
          format: uri
          description: URI identifying the problem type.
          default: 'about:blank'
        title:
          type: string
          description: Short, human-readable summary.
        status:
          type: integer
          description: HTTP status code.
        detail:
          type: string
          description: Human-readable explanation specific to this occurrence.
        instance:
          type: string
          format: uri
          description: URI reference that identifies the specific occurrence.

    # ============ Enumerations ============
    MetricFormat:
      type: string
      enum: [number, percent]
      description: How the value should be rendered. Percent values are decimal (0.1147 = 11.47%).

    ReturnRowKind:
      type: string
      enum: [portfolio, benchmark, portfolio-tax, benchmark-tax]
      description: Which line in the trailing returns table.

    # ============ Portfolio detail ============
    Portfolio:
      type: object
      description: Portfolio configuration. Derived backtest output lives on separate endpoints.
      required:
        - slug
        - name
        - strategyCode
        - parameters
        - benchmark
        - createdAt
        - updatedAt
      properties:
        slug:
          type: string
          example: 'adm-aggressive-gm59'
        name:
          type: string
          example: 'ADM aggressive'
        strategyCode:
          type: string
        strategyCloneUrl:
          type: string
          format: uri
          description: Clone URL for unofficial strategies; empty string for official ones.
        strategyVer:
          type: string
          nullable: true
          description: Pinned strategy version (null for unofficial portfolios).
        parameters:
          type: object
          additionalProperties: true
        presetName:
          type: string
          nullable: true
          description: Name of the matched strategy preset, or null when parameters did not match a preset.
        benchmark:
          type: string
          example: 'SPY'
        startDate:
          type: string
          format: date
          nullable: true
          description: Backtest start date (YYYY-MM-DD). Absent or null means strategy default.
        endDate:
          type: string
          format: date
          nullable: true
          description: Backtest end date (YYYY-MM-DD). Absent or null means today.
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        lastRunAt:
          type: string
          format: date-time
          nullable: true
        lastError:
          type: string
          nullable: true

    PortfolioSummary:
      type: object
      description: Top-line numbers for the KPI strip.
      required:
        - currentValue
        - ytdReturn
        - oneYearReturn
        - cagrSinceInception
        - maxDrawDown
        - sharpe
        - sortino
        - beta
        - alpha
        - stdDev
        - taxCostRatio
      properties:
        currentValue:
          type: number
          format: double
        ytdReturn:
          type: number
          format: double
        oneYearReturn:
          type: number
          format: double
        cagrSinceInception:
          type: number
          format: double
        maxDrawDown:
          type: number
          format: double
        sharpe:
          type: number
          format: double
        sortino:
          type: number
          format: double
        beta:
          type: number
          format: double
        alpha:
          type: number
          format: double
        stdDev:
          type: number
          format: double
        ulcerIndex:
          type: number
          format: double
        taxCostRatio:
          type: number
          format: double

    Drawdown:
      type: object
      required: [start, trough, depth]
      properties:
        start:
          type: string
          format: date
          description: Peak date when the drawdown began.
        trough:
          type: string
          format: date
          description: Date of the deepest point.
        recovery:
          type: string
          format: date
          nullable: true
          description: Date equity returned to the prior peak. Null if unrecovered.
        depth:
          type: number
          format: double
          description: Decimal percent, negative (e.g. -0.1670 = −16.70%).
        days:
          type: integer
          description: Trading days from start to recovery (or end of series if unrecovered).

    PortfolioStatistic:
      type: object
      required: [label, value, format]
      properties:
        label:
          type: string
        value:
          type: number
          format: double
        format:
          $ref: '#/components/schemas/MetricFormat'

    TrailingReturnRow:
      type: object
      required: [title, kind, ytd, oneYear, threeYear, fiveYear, tenYear, sinceInception]
      properties:
        title:
          type: string
        kind:
          $ref: '#/components/schemas/ReturnRowKind'
        ytd:
          type: number
          format: double
        oneYear:
          type: number
          format: double
        threeYear:
          type: number
          format: double
        fiveYear:
          type: number
          format: double
        tenYear:
          type: number
          format: double
        sinceInception:
          type: number
          format: double

    Holding:
      type: object
      required: [ticker, quantity, avgCost, marketValue]
      properties:
        ticker:
          type: string
          example: 'VTI'
        figi:
          type: string
          nullable: true
        quantity:
          type: number
          format: double
        avgCost:
          type: number
          format: double
        marketValue:
          type: number
          format: double
        dayChange:
          type: number
          format: double
          nullable: true
          description: Decimal percent since previous close.

    HoldingsResponse:
      type: object
      required: [date, items, totalMarketValue]
      properties:
        date:
          type: string
          format: date
        items:
          type: array
          items:
            $ref: '#/components/schemas/Holding'
        totalMarketValue:
          type: number
          format: double

    # ============ Performance (time series) ============
    PortfolioPerformance:
      type: object
      required: [portfolioSlug, from, to, points]
      properties:
        portfolioSlug:
          type: string
        from:
          type: string
          format: date
        to:
          type: string
          format: date
        resolution:
          type: string
          enum: [daily, weekly, monthly]
        points:
          type: array
          items:
            $ref: '#/components/schemas/PerformancePoint'

    PerformancePoint:
      type: object
      required: [date, portfolioValue, benchmarkValue]
      properties:
        date:
          type: string
          format: date
        portfolioValue:
          type: number
          format: double
        benchmarkValue:
          type: number
          format: double
          description: Normalized to start at the portfolio's opening value.
        riskFreeRate:
          type: number
          format: double
          description: Annualized risk-free rate at this date (e.g. 3-month T-Bill). Optional.

    Transaction:
      type: object
      required: [date, type, batchId]
      properties:
        batchId:
          type: integer
          format: int64
          description: Batch (rebalance event) this transaction belongs to.
        date:
          type: string
          format: date
        type:
          type: string
          enum: [buy, sell, dividend, fee, deposit, withdrawal, split, interest, journal]
        ticker:
          type: string
          nullable: true
        figi:
          type: string
          nullable: true
        quantity:
          type: number
          format: double
        price:
          type: number
          format: double
        amount:
          type: number
          format: double
        qualified:
          type: boolean
          nullable: true
        justification:
          type: string
          nullable: true

    TransactionsResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'

    HoldingsHistoryEntry:
      type: object
      required: [batchId, timestamp, items]
      properties:
        batchId:
          type: integer
          format: int64
        timestamp:
          type: string
          format: date-time
        items:
          type: array
          items:
            $ref: '#/components/schemas/Holding'
        annotations:
          type: object
          description: Optional strategy-written key/value labels for this batch.
          additionalProperties:
            type: string

    HoldingsHistoryResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/HoldingsHistoryEntry'

    RunStatus:
      type: string
      enum: [queued, running, success, failed]

    PortfolioCreateRequest:
      type: object
      description: |
        Exactly one of `strategyCode` or `strategyCloneUrl` must be provided;
        supplying both or neither returns 422. Enforced by the handler, not
        by the JSON schema (oneOf omitted to keep the generated Go type flat).
      required: [name, parameters]
      properties:
        name:
          type: string
          description: User-visible display name.
        strategyCode:
          type: string
          description: Strategy short code (from `describe` output).
        strategyCloneUrl:
          type: string
          format: uri
          description: HTTPS GitHub clone URL. Mutually exclusive with strategyCode.
        strategyVer:
          type: string
          description: Specific version to pin; omit for latest installed.
        parameters:
          type: object
          additionalProperties: true
          description: Values validated against the strategy's declared parameters.
        benchmark:
          type: string
          default: 'SPY'
        startDate:
          type: string
          format: date
          description: Backtest start date (YYYY-MM-DD). Omit to use the strategy default.
        endDate:
          type: string
          format: date
          description: Backtest end date (YYYY-MM-DD). Omit to use today.

    PortfolioUpdateRequest:
      type: object
      description: |
        PATCH body. Only `name`, `startDate`, and `endDate` are mutable.
        Any other field is rejected with 422. All fields are optional; omit
        any field you do not want to change.
      properties:
        name:
          type: string
        startDate:
          type: string
          format: date
          description: Backtest start date (YYYY-MM-DD).
        endDate:
          type: string
          format: date
          description: Backtest end date (YYYY-MM-DD).

    BacktestRun:
      type: object
      required: [id, portfolioSlug, status]
      properties:
        id:
          type: string
          format: uuid
        portfolioSlug:
          type: string
        status:
          $ref: '#/components/schemas/RunStatus'
        startedAt:
          type: string
          format: date-time
          nullable: true
        finishedAt:
          type: string
          format: date-time
          nullable: true
        durationMs:
          type: integer
          nullable: true
        error:
          type: string
          nullable: true

    Strategy:
      type: object
      required: [shortCode, repoOwner, repoName, isOfficial, installState]
      properties:
        shortCode:
          type: string
        repoOwner:
          type: string
        repoName:
          type: string
        cloneUrl:
          type: string
          format: uri
        isOfficial:
          type: boolean
        ownerSub:
          type: string
          nullable: true
          description: Auth0 sub of the registering user; NULL for official strategies.
        description:
          type: string
          nullable: true
        categories:
          type: array
          items:
            type: string
        stars:
          type: integer
          nullable: true
        installState:
          type: string
          enum: [pending, installing, ready, failed]
        installedVer:
          type: string
          nullable: true
        lastAttemptedVer:
          type: string
          nullable: true
        installError:
          type: string
          nullable: true
        installedAt:
          type: string
          format: date-time
          nullable: true
        describe:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/StrategyDescribe'
        cagr:
          type: number
          format: double
          nullable: true
        maxDrawDown:
          type: number
          format: double
          nullable: true
        sharpe:
          type: number
          format: double
          nullable: true

    StrategyDescribe:
      type: object
      required: [shortCode, name, parameters, schedule, benchmark]
      properties:
        shortCode:
          type: string
        name:
          type: string
        description:
          type: string
          nullable: true
        parameters:
          type: array
          items:
            $ref: '#/components/schemas/StrategyParameter'
        presets:
          type: array
          items:
            $ref: '#/components/schemas/StrategyPreset'
        schedule:
          type: string
        benchmark:
          type: string

    StrategyParameter:
      type: object
      required: [name, type]
      properties:
        name:
          type: string
        type:
          type: string
        default:
          description: Default value — may be any JSON-serializable type.
        description:
          type: string
          nullable: true

    StrategyPreset:
      type: object
      required: [name, parameters]
      properties:
        name:
          type: string
        parameters:
          type: object
          additionalProperties: true

    AlertFrequency:
      type: string
      enum: [scheduled_run, daily, weekly, monthly]
      description: How often the alert fires. `scheduled_run` fires on every completed backtest run; the others fire on calendar cadence.

    Alert:
      type: object
      required: [id, portfolioId, frequency, recipients]
      properties:
        id:
          type: string
          format: uuid
        portfolioId:
          type: string
          format: uuid
        frequency:
          $ref: '#/components/schemas/AlertFrequency'
        recipients:
          type: array
          items:
            type: string
          description: Email addresses that receive the alert.
        lastSentAt:
          type: string
          format: date-time
          nullable: true

    AlertCreateRequest:
      type: object
      required: [frequency, recipients]
      properties:
        frequency:
          $ref: '#/components/schemas/AlertFrequency'
        recipients:
          type: array
          items:
            type: string
          minItems: 1
          description: At least one recipient required.

    AlertUpdateRequest:
      type: object
      description: All fields optional; omit any field you do not want to change.
      properties:
        frequency:
          $ref: '#/components/schemas/AlertFrequency'
        recipients:
          type: array
          items:
            type: string
          minItems: 1
